html
{
    padding: 0;
    margin: 0;
}

body {
	float: left;
	width: 100%;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;         
        background-color: #ededed;
        background-image: url(images/bg.png);
        background-repeat: repeat;
        background-attachment: fixed;    
        margin: 0;        
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;  
}



.order-table{   
	border-collapse:collapse;
}
 
.order-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;    
        
}
 
.order-table-odd-row{
	text-align:center;
	background:none repeat scroll 0 0 #E9E9E9;
	border-top:1px solid #BBBBBB;       
}
 
.order-table-even-row{
	text-align:center;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

#header-esq {
    background:none repeat scroll 0 0 #E9E9E9;    
    font-size:16pt;
    text-align: center;
    width: 100%;    
}

#header-dir {
    background:none repeat scroll 0 0 #E9E9E9;
    text-align: center;
    width: 100%;            
}

.menu-super
{
    text-decoration: none;   
    color: #555550;
    font-family: verdana, arial;
    font-weight: bolder;
    
}

#footer {
    background: black;    
    color: white;
    text-align: center;
}

.content
{
    margin-left: 30%;
    margin-bottom: 70px;    
}